html {
    box-sizing: border-box;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color:#5467AF;
}

.button {
    background: #3498db;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px 10px 20px;
  }
  
  .button:hover {
    background: #3cb0fd;
  }

  .buttonsDiv {
      justify-content: center; 
      display: flex;
      flex-wrap: wrap;
      width: 75%;
  }

  .buttonInput {
      color: #ffffff;
      font-family: Arial;
      font-size: 25px;
      margin: 10px;
  }

  .formDiv {
      align-items: center;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      width: 25%;
  }

  .gifs {    
      display: flex;
      flex-wrap: wrap;
      justify-content: center;  
      width: 95%;
  }

  p {
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    margin: 10px;
  }

  .title {
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    margin: 10px;
  }

  .textInput {
    font-family: Arial;
    font-size: 16px;
  }

  .ui-wrapper{
      display: flex;
      width: 100%;
      margin: 0%;
  }

  .wrapper{
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
  }
